#title{
  
    position: relative;
   
}
body{
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
}

.container-fluid{
    padding: 3% 15% 7% !important;
    }
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #8f8f8f;
}

/* SECTION COLORED */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: white;
}


/* HEADING  */
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}
 .section-heading{
    font-size: 2.5rem !important;
    line-height: 1.5;
    font-weight: bold !important;
 }


/* navigation bar */

.image{
    width:60%;
    height:100%;
    transform: rotate(45deg);
    margin-left: 4.5rem;
}
.header-h1{
    font-size: 3.5rem;
    padding: 8% 0%;
    color: white;
   
   
}
.navbar-brand{
    font-size:2.5rem !important;
    font-weight: 700;
}
.navbar{
    padding-bottom: 4.5rem !important;
}
.nav-item{
    padding: 0 15px ;
}
.nav-link{
    font-size: 1.2rem !important;
   
}








/* Download buttons */
.download-btn{
    margin: 8px;
}


/* title image */

.title-image{
   width: 25%;

    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}


/* feature row */
#features{
    padding: 7% 15%;
  
    position:relative;
    
}
.feature-title{
    font-size: 1.5rem !important;
  
}

.feature-box{
  
    text-align: center;
    padding: 5%;
 
}
.icon{
    color: #ef8172;
    padding: 1rem 0;
}
.icon:hover{
    color: #ff4c68;
}


/* testimonials style */
#testimonials{
    background-color: #ef8172;

    
}
.testimonial-text{
    font-size: 2.5rem !important;
    line-height: 1.5;
    font-weight: bold !important;
}
.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* press style */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px ;
}


/* Pricing style */
#pricing{
    padding: 100px;
    text-align: center;
}
.column-pricing {
   padding: 3% 2%;
}
.pricing-text{
    font-size: 2.5rem !important;
    line-height: 1.5;
    font-weight: bold !important;
}
.pricing-title{
    font-size: 1.5rem !important;
    line-height: 1.5;
    font-weight: bold !important;
}



/* CTA styles */
#cta{
   
    padding: 7% 15% !important;
    /* font-family: 'Montserrat', sans-serif; */
    
    
   
 
}
.cta-heading{
    font-size: 3.5rem !important;
    line-height: 1.5;
}
.btn-cta{
    margin: 3% 1% 10%;
    font-size: 1rem !important;
}



/* FOOTER style */
#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.social-icon{
    margin: 20px 10px;
}


/* RESPONSIVE CSS CODE */
@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .title-image{
      
    position: static;
    transform: rotate(0);
    }
}